---
---

<div class="text-white">
    <h3 class="text-xl font-bold mb-6"></h3>
    <br class="mb-4"> <b>¿Te interesa formar parte de WITAM? </b></br>Déjanos tu correo y nos pondremos en contacto contigo personalmente.</p>
    <form class="flex flex-col">
        <div class="flex flex-col">
            <input type="text" id="name" placeholder="Nombre*" class="input-dark" />
        </div>
        <div class="flex flex-col">
            <input type="email" id="email" placeholder="Email*" class="input-dark" />
        </div>
        <div class="flex flex-col">
            <input type="tel" id="phone" placeholder="Teléfono" class="input-dark" />
        </div>
        <div class="flex flex-col">
            <input type="text" id="message" name="message" placeholder="Mensaje*" class="input-dark" aria-label="Mensaje" required />
        </div>
        <div class="form-actions">
            <button type="submit" class="form-button-dark">Enviar</button>
            <label class="form-checkbox-label">
                <input type="checkbox" class="form-checkbox" required />
                <p class="text-xs">He leído y acepto el Aviso legal y la Política de privacidad</p>
            </label>
        </div>
    </form>
</div>