---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="bg-orange-100">
    <div class="margin-left flex flex-row gap-12 items-center py-6">
        <p class="section-title">{title}</p>
        {
            subtitle && <div class="max-w-64">
                <p class="text-balance heading-3 font-semibold">{subtitle}</p>
                </div>
        }
    </div>

</div>