---
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="bg-orange-100 horizontal-padding">
    <div class="margin-left flex flex-row gap-8 py-4">
        <p class="text-2xl font-bold">{title}</p>
        {
            subtitle && <div class="max-w-32">
                <p class="text-balance text-xs font-semibold">{subtitle}</p>
                </div>
        }
    </div>

</div>